
:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    
}

* {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    align-items: center;
    width: 100%; 
    border-bottom: solid 1px #ddd;

        .navbar-brand{

            img {
                width: 60px;
                height: 60px;
            }
        }

        .poke-img {
            margin-top: 0.25rem;
            width: 30px;
            height: 30px;
        }

        .navbar-nav{
            gap: 1rem;
            margin: auto;
        }

}

.container{
    height: 800px;
    max-width: 1000px;
    max-height: 1200px;
    background-color: #ddd;

    .buttons {

        .previous {
            top: 30rem;
            left: 28rem;
            max-width: 2rem;
            font-size: 1rem;
        }
        
        .next {
            top: 30rem;
            left: 90rem;
            max-width: 2rem;
            font-size: 1rem;
        }
    }

    .row {

        margin: auto;

        .col-4{

            margin-top: 1rem;

            .card{

                width: 18.8rem;
                height: 15rem;
                background-position: center top;
                background-size: 100px;
                background-repeat: no-repeat;

                &:hover{
                    animation: bounce 0.6s linear;
                    box-shadow: 
                        -20px -20px 30px -25px var(--color1), 
                        20px 20px 30px -25px var(--color2), 
                        -7px -7px 10px -5px var(--color1), 
                        7px 7px 10px -5px var(--color2), 
                        0 0 13px 4px rgba(255,255,255,0.3),
                        0 55px 35px -20px rgba(0, 0, 0, 0.5);

                    .card-img-top{
                        z-index: 2;
                        transform: 
                        translate(-10px, -20px) 
                        rotate(-15deg) 
                        scale(1.5);

                    }
                }

                .card-img-top{
                    margin: auto;
                    width: 100px;
                }

                .card-body {

                    text-align: center;

                    .card-text {
                        .Type {
                            font-weight: bold;

                            .badge {
                                font-size: 0.9rem;
                                border: 1px solid;
                                min-width: 3.5rem;
                                text-transform: capitalize;
                            }

                            .normal{
                                background-color: #A8A878;
                            }
                           
                            .fire {
                                background-color: #F08030;
                            }

                            .normal {
                                background-color: #A8A878;
                            }

                            .fighting {
                                background-color: #C03028;
                            }

                            .water {
                                background-color: #6890F0;
                            }

                            .flying {
                                background-color: #A890F0;
                            }

                            .grass{
                                background-color: #78C850;

                            }

                            .poison {
                                background-color: #A040A0;
                            }

                            .electric {
                                background-color: #F8D030;
                            }

                            .ground {
                                background-color: #E0C068;
                            }

                            .psychic {
                                background-color: #F85888;
                            }
                             
                            .rock {
                                background-color: #B8A038;
                            }

                            .ice {
                                background-color: #98D8D8;
                            }

                            .bug {
                                background-color: #A8B820;
                            }

                            .dragon {
                                background-color: #7038F8;
                            }

                            .ghost {
                                background-color: #705898;
                            }

                            .dark {
                                background-color: #705848;
                            }

                            .steel {
                                background-color: #B8B8D0;
                            }

                            .fairy {
                                background-color: #EE99AC;
                            }

                        }
                    }
                }

            }

        }


    }

  
}


@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}


